<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

	<appSettings>
		<add key="ProtocolGeneral" value="iepp" />
		<add key="ProtocolSecure" value="iepps" />
		<add key="ExecuteablePath" value="C:\Program Files\Internet Explorer\iexplore.exe" />
		<add key="BrokerStatusReportUrl" value="" /> <!-- Ex. "/iebroker/updateBrokerStatus.do?status=ok" -->
	</appSettings>
</configuration>